<ion-view title="{{ 'payments' | translate }}">
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Listagem" icon-on="icon fa fa-exchange" icon-off="icon fa fa-exchange">
			<!-- Tab 1 content -->
			<ion-content class="has-header" padding="true">
			<!--
				<ion-list option-buttons="itemButtons" can-swipe="true">
					<ion-item class="item item-text-wrap item-icon-right" ng-repeat="payment in payments | filter: searchText">
						<li class="list-group-item fist-item">
								<span class="pull-right">
										{{payment.dateRequest | date: 'dd/MM/yyyy'}}
								</span>
								<span class="label label-success">{{ payment.id }}</span> {{payment.description}}
						</li>

						<div class="row">
							<div class="col">
								{{payment.dateRequest | date: 'dd/MM/yyyy'}} - 
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{payment.title}}</u>
							</div>

							<div class="col-20">
								<div class="row">
									{{payment.amount}} 
								</div>
								<div class="row">
									{{payment.coinUnit}} 
								</div>
							</div>
						</div>
					</ion-item>	
				</ion-list>	
				-->
				<table class="table table-hover margin bottom">
					<thead>
						<tr>
								<th class="text-center" style="width: 1%">No.</th>
								<th>Transaction</th>
								<th class="text-center">Date</th>
								<th class="text-center">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="payment in payments | filter: searchText" style="line-height: 40px; border-top-color: #e7eaec; border-top-style: solid; padding: 8px;">
								<td class="text-center">{{ payment.id }}</td>
								<td> {{payment.title}}
										</td>
								<td class="text-center small">{{payment.dateRequest | date: 'MMM d, y'}}</td>
								<td class="text-center">
									<span class="money badge badge-assertive squared">{{payment.amount | currency }}</span></td>
						</tr>
					</tbody>
				</table>
			</ion-tab>
		</ion-content>
		<ion-tab title="Receber" icon-on="icon fa fa-qrcode" icon-off="icon fa fa-qrcode">
			<ion-content has-header="true" padding="true">
				<h2>Recebe r</h2>
				ler imagem qr ou gera-la a partir do endereço bitcoin (provavlemnte escolhe carteira onde prentende receber pagamento
				e depois tem qr para essa carteira.	
			</ion-content>
		</ion-tab>
		<ion-tab title="Pagar" icon-on="icon fa fa-camera" icon-off="icon fa fa-camera">
			<ion-content has-header="true" padding="true">
					<h2>Paga r</h2>
					emite pagamento apos leitura de qrcode
					<button ng-click="scanBarcode()">Ler QrCode</button>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>