<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header has-bottom">
      <ion-list>

        <ion-item nav-clear menu-close ui-sref="yapp.dashboard">
            <i class="icon ion-home"></i> Dashboard
        </ion-item>			
        <ion-item nav-clear menu-close ui-sref="yapp.dashboard">
            <i class="icon ion-archive"></i> Gestão de conta
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="yapp.allowances">
            <i class="icon ion-cash"></i> Mesadas
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="yapp.payments">
            <i class="icon ion-paper-airplane"></i> Pagamentos
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="yapp.history">
            <i class="icon ion-folder"></i> Historico
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="yapp.notifications">
            <i class="icon ion-archive"></i> Notificações
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="yapp.savings">
            <i class="icon ion-chatboxes"></i> Poupança
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="fixed-outside">
      <ion-content scroll="false">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="yapp.savings">
          <i class="icon ion-gear-b"></i> Configuração
        </ion-item>
      </ion-list>
    </ion-content>
   </div>
  </ion-side-menu>
</ion-side-menus>
