<ion-view title="{{ 'settings' | translate}}">
    <ion-content class="has-header" padding="true">
        <h3 class="text-center">{{ 'settings' | translate }}</h3>
        <form name="coinForm" ng-submit="registerService()" novalidate>
            <div class="list">
                <div class="item item-input item-stacked-label">
                    <label class="input-label">Coinbase Address:</label>
                    <input type="text" name="coinAddress" ng-model="coinData.address" required>
                    <span class="assertive item-text-wrap" ng-show="coinForm.coinAddress.$error.required && coinForm.coinAddress.$dirty">
                        This is required.
                    </span>
                </div>
                <div class="item item-input item-stacked-label">
                    <label class="input-label">Coinbase E-mail:</label>
                    <input type="email" name="coinEmail" ng-model="coinData.email" required>
                    <span class="assertive item-text-wrap" ng-show="coinForm.coinEmail.$error.required && coinForm.coinEmail.$dirty">
                        This is required.
                    </span>
                    <span class="assertive item-text-wrap" ng-show="!coinForm.coinEmail.$error.required && coinForm.coinEmail.$dirty && coinForm.coinEmail.$error.email">
                        That isn't a valid e-mail.
                    </span>
                </div>
            </div>
            <button type="submit" class="button button-block button-positive" ng-disabled="coinForm.$invalid">Register Service</button>
        </form>
    </ion-content>
</ion-view>