<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Add {{ 'savings' | translate }}</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeAddSaving()">Sair</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form name="addSavingForm" ng-submit="addSaving()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Título</span>
					<input type="text" name="title" ng-model="savingData.title" placeholder="Titulo da poupança" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.title.$error.required">
                	Campo Obrigatório
            	</label>

				<label class="item item-input">
					<span class="input-label">Descrição</span>
					<input type="text" ng-model="savingData.description" placeholder="Descrição da poupança" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.title.$error.required">
                	Campo Obrigatório
            	</label>

				<label class="item item-input">
					<span class="input-label">Montante</span>
					<input type="number" ng-model="savingData.qty" placeholder="Montante a poupar" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.title.$error.required">
                	Campo Obrigatório
            	</label>

				<label class="item item-input">
					<span class="input-label">Data Limite</span>
					<input type="date" ng-model="savingData.deadline" placeholder="Data em que se prentende ter o montante" required>
				</label>
                <label class="item item-input error_text" ng-show="addSavingForm.title.$error.required">
                	Campo Obrigatório
            	</label>
            									
				<label class="item">
					<button class="button button-block button-assertive" type="submit">
						Add {{ 'savings' | translate }}
					</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-modal-view>