<ion-view title="yWallet">
    <ion-header-bar class="bar-dark">
        <h1 class="title">yWallet</h1>
        <!-- <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div> -->
    </ion-header-bar>
    <ion-content class="has-header padding">
        <!-- WELCOME PAGE -->
        <div class="yWallet-icon"></div>
        <h2 class="text-center">A simple, catchy statement.</h2>
            <button class="button button-block button-balanced" ng-click="$state.go('yapp.register')">New User?</button>
            <button class="button button-block button-positive">Sign In</button>
        <div class="double-button text-center">
        </div>

        <!-- REGISTER PAGE -->
        <!-- <div ng-show="state == 'register'">
            <form ng-submit="doRegister()">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">E-mail Address:</span>
                        <input type="text" ng-model="user.loginData.username">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password:</span>
                        <input type="password" ng-model="user.loginData.password">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Confirm Password:</span>
                        <input type="password">
                    </label>
                    <label class="item">
                        <button class="button button-block button-balanced" type="submit">Get Started</button>
                    </label>
                </div>
            </form>
            <div>
                {{ user.name }}<br/>
                {{ user.pass }}
            </div>
        </div> -->

        <!-- LOGIN PAGE -->
        <!-- <div ng-show="state == 'login'">
            <form ng-submit="doLogin()">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">E-mail Address:</span>
                        <input type="text" ng-model="user.loginData.username">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password:</span>
                        <input type="password" ng-model="user.loginData.password">
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit">Sign in</button>
                        <button class="button button-block button-clear">Forgot Password?</button>
                    </label>
                </div>
            </form>
            <div>
                {{ user.name }}<br/>
                {{ user.pass }}
            </div>
        </div> -->
    </ion-content>
</ion-view>