<ion-view hide-nav-bar="true" title="Login">
    <ion-header-bar>
        <h1 class="title">yWallet</h1>
        <!-- <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div> -->
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="padding">
            <div class="yWallet-icon"></div>
            <h2 class="text-center">A simple, catchy statement.</h2>
            <div class="double-button text-center">
                <button class="button button-balanced" ng-click="goToRegistration()">New User?</button>
                <button class="button button-positive" ng-click="goToLogin()">Sign In</button>
            </div>
        </div>
    </ion-content>
</ion-view>