<ion-view title="yWallet">
    <ion-content class="has-header padding">
        <form ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name:</span>
                    <input type="text" ng-model="registerData.name" ng-minlength="2" ng-maxlength="24" required="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Your E-mail:</span>
                    <input type="email" ng-model="registerData.email" required="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Your Password:</span>
                    <input type="password" ng-model="registerData.password" required="" ng-minlength="6" ng-maxlength="24">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" ng-model="registerData.cpass">Confirm Password:</span>
                    <input type="password" ng-model="registerData.cpass"  required="" ng-minlength="6" ng-maxlength="24">
                </label>
            </div>
            <button class="button button-block button-balanced" type="submit">Get Started</button>
        </form>
    </ion-content>
</ion-view>